@font-face {
	font-family: titleFont;
	src: url('fonts/WiegelLateinMedium.ttf');

}

@font-face {
	font-family: descriptionFont;
	src: url('fonts/MoonFlowerBold.ttf');
}

@font-face {
	font-family: gnFont;
	src: url('fonts/NellaSue.ttf');
}

@font-face {
	font-family: gnDes;
	src: url('fonts/BasicTitleFont.ttf');
}

#titleFont {
	font-family: titleFont;
	visibility: hidden; /* hides the text */
}

#descriptionFont {
	font-family: descriptionFont;
	visibility: hidden; /* hides the text */
}

#gnFont {
		font-family: gnFont;
	visibility: hidden; /* hides the text */
}

#gnDes {
			font-family: gnDes;
	visibility: hidden; /* hides the text */
}


body {

	width: 1350;
	height: 760;
	margin-left: 10;
	margin-right: 10;
	margin-top: 10;
	margin-right: 10;
} 
/*

html {
	height: 100%;
	padding: 0px;
	background: -moz-linear-gradient (top, #000000, #000000);
	background: -webkit-linear-gradient (top, #000000, #000000);
	background: -ms-linear-gradient (top, #000000, #000000);

}

*/